/**
 * Created by JetBrains PhpStorm.
 * User: werring
 * Date: 1/22/12
 * Time: 19:15:18
 */
#adminSubMenu {
    margin: 0;
    padding-left: 5px;
}

#adminSubMenu li {
    display: inline;

    margin-right: 10px;

}

table,dl,p.error,p.adminText {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 0.8em;
}

th {
    padding-right: 15px;
    padding-left:  15px;
}
td,th {
    padding: 5px;
    border-left: solid 1px black;
}
td:first-child,th:first-child {
    border-left: none;
}

.manageAccess {
    text-align: right;
}

.error {
    color: red;
}