<script type="text/javascript" src='http://static.werringweb.nl/js/jquery.js' ></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#download').click(function(){
            window.location.href = document.location.href.split("?")[0] + "?download=true"
        });


        if(${nocontent}){
            $("#content").css('display','none');
        }

        if(${txt}){
            var maxWidth  = $(window).width() - 250 - 10;
            var maxHeight = $(window).height() - 80 - 10;
            $(".maxsize").parent().css("width",maxWidth);
            $(".maxsize").parent().css("height",maxHeight);
            $(".maxsize").css('width',"100%");
            $(".maxsize").css('height',"95%");
            if($("#content").height() > maxHeight) {
                $("#content").height(maxHeight);
                if($("#content").width()+15 <= maxWidth){
                    $("#content").width($("#content").width()+15);
                } else if($("#content").width() < maxWidth){
                    $("#content").width($("#content").width(maxWidth-15));
                }
                scale = true;
            }
            if($("#content").width() > maxWidth){
                $("#content").width(maxWidth);
                if($("#content").height()+15 <= maxHeight){
                    $("#content").height($("#content").height()+15);
                } else if($("#content").height() < maxHeight){
                    $("#content").height($("#content").width(maxHeight-15));
                }
                scale = true;
            }
            if(scale){
                $("#content").css('overflow','auto');
            }
        }

        if(${img}){
            var maxWidth  = $(window).width() - 250;
            var maxHeight = $(window).height() - 80;

            var origWidth  =  $("#content img").width();
            var origHeight = $("#content img").height();

            var imgWidth  = $("#content img").width();
            var imgHeight = $("#content img").height();
            var scale = false;

            //noinspection JSUndeclaredVariable
            ratioW = maxWidth / maxHeight;
            //noinspection JSUndeclaredVariable
            ratioH = maxHeight / maxWidth;
            if(
                    $("#content img").width() > maxWidth &&
                            $("#content img").width() > $("#content img").height()*ratioW
                    )
            {
                $("#content img").width(maxWidth);
                $("#content img").height($("#content img").height()/(maxWidth/$("#content img").width()));
                scale = true;
            } else if(
                    $("#content img").height() > maxHeight &&
                            $("#content img").height() > $("#content img").width()*ratioH
                    ) {
                $("#content img").height(maxHeight);
                $("#content img").width($("#content img").width()/(maxHeight/$("#content img").height()));
                scale = true;
            }

            var scaleWidth  = $("#content img").width();
            var scaleHeight = $("#content img").height();

            $("#content img").click(function(){
                if(scale){
                    imgWidth = $("#content img").width();
                    imgHeight = $("#content img").height();
                    if(imgWidth > maxWidth || imgHeight > maxHeight){
                        $("#content img").width(scaleWidth);
                        $("#content img").height(scaleHeight);
                        $("#topbar").css("width","100%");
                        $("#leftbar").css("height","100%");
                        $("#credits").css("left","auto");
                        $("#credits").css("top","auto");
                        $("#credits").css("bottom","15px");
                        $("#credits").css("right","15px");
                    } else {
                        $("#content img").width(origWidth);
                        $("#content img").height(origHeight);
                        if(origWidth > maxWidth){
                            $("#topbar").css("width",origWidth + 263);
                        }
                        if(origHeight  > maxHeight){
                            $("#leftbar").css("height",origHeight + 93);
                        }
                        $("#credits").css("left",($("#topbar").width() - $("#credits").width() -19) + "px");
                        $("#credits").css("top",($("#leftbar").height() - $("#credits").height()-19) + "px");
                        $("#credits").css("bottom","auto");
                        $("#credits").css("right","auto");

                    }
                }
            });
        }
    });
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25163714-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>