/**
 * Created by JetBrains PhpStorm.
 * User: werring
 * Date: 12/18/11
 * Time: 13:52:39
 */
@font-face {
    font-family: "bankgothic";
    src: url("/templates/default/bank.otf");
}
body {
    margin: 0;
    background-image: url('/templates/default/img/bg.png');
    font-family: "bankgothic", "Trebuchet MS", sans-serif;
    overflow: hidden;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #333;
    text-decoration: underline;
}

#topbar {
    height: 70px;
    width:  100%;
    background: url('/templates/default/img/tb.png') repeat-x;
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
}
#leftbar {
    height: 100%;
    width: 240px;
    background: url('/templates/default/img/lb.png') repeat-y;
    position: absolute;
    top:0;
    left:0;
    z-index: 90;
}
#logo {
    float:left;
    margin:4px;
}
#lbContent {
    text-align: center;
    position: absolute;
    top: 50px;
    width: 100%;

    text-shadow: #8D8D8D 2px 2px 2px;
}
#plus1 {
    text-align: right;
    top: 20px;
    right: 20px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 70px;
}
h1 {
    display: inline;
    float: left;
    margin: 10px 0 0 15px;
    text-transform: capitalize;
    font-size: 2em;
    text-shadow: #8D8D8D 2px 2px 2px;
    white-space: nowrap;
    max-width: 90%;
}
#content {
    position: absolute;
    top: 70px;
    left:240px;
    background-color: #FFF;
    padding: 5px;

    -moz-box-shadow: 5px 5px 5px #111;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;

}

#content img {
    cursor: auto;
}
#content a {
    text-shadow: #8D8D8D 2px 2px 2px;
}

#credits {
    color: white;
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 1000;
    text-align: right;
    background: rgba(0, 0, 0, 0.3);
    padding:3px;
}
#wwd {
    vertical-align: bottom;
}

/**
 * Admin Control Panel
 */
#admin {
    display: none;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
}

#block {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 40%;
    height: 60%;
    background: #f5f5f5;
    z-index: 101;
    border: #666 solid 1px;
    box-shadow: 0 0 10px #F5f5f5;
    padding: 5px;
    overflow: auto;

}

#close {
    text-align: right;
    display: block;
    margin-left: auto;
    margin-right: 5px;
    width: 20px;
}